.bar {
    height: 350px;
    width: 1em;
    margin-top: 0;
    margin-bottom: 0;
}
.color-bar {
    /*transition: 0.2s;*/
    margin-left: 1px;
    margin-right: 1px;
    /*border-color: rgba(255, 0, 0, 0);*/
}
