body{
  width: 100%;
  background-color: peachpuff;
  height: 100%;
}
.full{
  text-align: center;
}
.frame {
  background-color: peachpuff;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.card {
  width: 800px;
  margin: auto auto;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 2em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
  background-color: black;
}

.buttons {
  align-items: center;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 450px;
  margin: auto auto;
  transition: 0.4s
}
.button{
      height: 70px;
      font-size: medium;
      width: 80px;
      opacity: 1;
      font-family: 'Franklin Gothic Medium';
      background-color: white;
      color: black;
      transition : 0.4s;
      margin-left: auto;
      margin-right: auto;
      border-radius: 1em;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.select{
  align-items: center;
  height: 70px;
  width: auto;
  font-size: medium;
  font-family: 'Franklin Gothic Medium';
  background-color: white;
  color: black;
  transition : 0.4s;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button:hover {
    opacity: 0.8;  
}
.select:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}
.button:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}
.slider:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}